<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <style>{{{criticalCss}}}</style>
</head>
<body>
<div id="app">{{{html}}}</div>
<div id="player"></div>

<script>
    window.__PRELOADED_STATE__ = {{{initialState}}};
    (function() {
        var styleSheets = ["{{{styleSheets}}}"];
        var head = document.getElementsByTagName('head')[0];
        styleSheets.map(function (v) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.href = v;
            link.type = 'text/css';
            head.appendChild(link);
        });
    })();
</script>
{{#each scripts}}
    <script defer src="{{{static_url}}}{{{this}}}"></script>
{{/each}}
</body>
</html>